# Entorno virtual
venv/
env/

# No subir data
data/

# Ignora archivos compilados de python, cada vez que se ejecuta codigo se crean
__pycache__/
*.py[cod]
*$py.class
# Ignora carpetas ocultas que crea jupyter de forma automática
.ipynb_checkpoints/

# Ignorar configuraciones de mi IDE y de PyCham
.vscode/
.idea/